.header {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
}

.header-description {
  font-size: 0.875rem;
  color: #a1a1a1;
  padding: 5px;
}

.deals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 20px;
}

.deal {
  position: relative;
}

.deal.large {
  grid-column: span 2; 
}

.deal-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.deal-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 0 0 12px 12px;
}

.deal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.deal-location {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.view-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view {
  padding: 0.625rem 1.25rem;
  background-color: #900a42;
  border-radius: 0.375rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 768px) {
  .deals {
      grid-template-columns: 1fr; 
  }

  .deal.large {
      grid-column: span 1;
  }
}
